.welcomePageLayout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.welcomeButton{
    width: 216px;
    height: 52px;
    background-color: #C8EEFF;
    font-size: 20px;
    color: #9EBAC2;
    border-radius: 10px;
}
.welcomeButton:hover{
    background-color: #9cddfb;
    color: #F4F9FA;
    cursor: pointer;
}
/* ================================================== */
.field1{
    min-width: 400px;
    color: #9EBAC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
}
.field1 label{
    width: 100%;
    font-size: 15px;
    background-color: #FFFFFF;
    text-align: center;
}
.field1 input{
    width: 100%;
    border: none;
    padding: 5px 0px;
    font-size: 18px;
    background-color: #FFFFFF;
    border-bottom: 1px #9EBAC2 solid;
}
/* .field1 input:focus{
    border-bottom: solid rgb(0, 0, 0) 2px;
}
.field1 span{
    text-align: center;
    width: 80%;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 15px;
    display: none;
}
.field1 input:invalid[focused = "true"] ~ span{
    display: block;
} */
/* ================================================== */
.field2{
    min-width: 400px;
    color: #9EBAC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #C8EEFF;
}
.field2 label{
    width: 100%;
    font-size: 19px;
    font-weight: bold;
    background-color: #C8EEFF;
    text-align: left;
    color: #8E979A;
}
.field2 input{
    width: 100%;
    border: none;
    padding: 5px 0px;
    font-size: 18px;
    background-color: #C8EEFF;
    border-bottom: 1px #9EBAC2 solid;
}
/* .field2 input:focus{
    border-bottom: solid rgb(0, 0, 0) 2px;
}
.field2 span{
    text-align: center;
    width: 80%;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 15px;
    display: none;
}
.field2 input:invalid[focused = "true"] ~ span{
    display: block;
} */
/* ================================================== */
.field3{
    min-width: 400px;
    color: #9EBAC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #C8EEFF;
}
.field3 label{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    background-color: #C8EEFF;
    text-align: left;
    color: #8E979A;
}
.field3 input{
    width: 100%;
    border: none;
    padding: 5px 0px;
    font-size: 13px;
    background-color: #C8EEFF;
    border-bottom: 1px #9EBAC2 solid;
}
/* .field3 input:focus{
    border-bottom: solid rgb(0, 0, 0) 2px;
}
.field3 span{
    text-align: center;
    width: 80%;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 15px;
    display: none;
}
.field3 input:invalid[focused = "true"] ~ span{
    display: block;
} */
/* ================================================== */
.form1{
    min-width: 500px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
}
/* ================================================== */
.form2{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #C8EEFF;
    border-radius: 10px;
    padding: 10px;
}
/* ================================================== */
.form3{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #B0E7FF;
    border-radius: 10px;
    padding: 10px;
}
/* ================================================== */
.form4{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    background-color: #C8EEFF;
    border-radius: 10px;
    padding: 10px;
}
.form4 form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #C8EEFF;
    border-radius: 10px;
    padding: 10px;
}
/* ================================================== */
.form5{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    background-color: #C8EEFF;
    border-radius: 10px;
    padding: 10px;
}
/* ================================================== */
.heading1{
    text-align: center;
    color: #9EBAC2;
    font-size: 25px;
    font-weight: bold;
    margin: -20px 0px -70px 0px;
}
/* ================================================== */
.heading2{
    text-align: left;
    color: #8E979A;
    font-size: 17px;
    font-weight: bold;
}
/* ================================================== */
.heading3{
    text-align: left;
    color: #8E979A;
    font-size: 16px;
    font-weight: bold;
}
/* ================================================== */
.button1{
    width: 100%;
    text-align: center;
}
.button1 button{
    width: 200px;
    background-color: #C8EEFF;
    color: #9EBAC2;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}    
.button1 button:hover{
    background-color: #9cddfb;
    color: #ffffff;
    cursor: pointer;
}    
/* ================================================== */
.button2{
    width: 100px;
    text-align: center;
}
.button2 button{
    width: 100px;
    height: 50px;
    background-color: #90C9E1;
    color: #E5F2F5;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
}    
.button2 button:hover{
    background-color: #9ed7f0;
    color: #ffffff;
    cursor: pointer;
} 
/* ================================================== */
.button3_1{
    width: 120px;
    text-align: center;
}   
.button3_1 button{
    width: 100px;
    height: 50px;
    background-color: #84BED7;
    color: #E5F2F5;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
}  
.button3_1 button:hover{
    background-color: #bbd8e0;
    color: #ffffff;
    cursor: pointer;
}  
/* ================================================== */
.button3_2{
    width: 120px;
    text-align: center;
}   
.button3_2 button{
    width: 100px;
    height: 50px;
    background-color: #F96969;
    color: #E5F2F5;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
}  
.button3_2 button:hover{
    background-color: #bbd8e0;
    color: #ffffff;
    cursor: pointer;
}  
/* ================================================== */
.button3_3{
    width: 120px;
    text-align: center;
}   
.button3_3 button{
    width: 100px;
    height: 50px;
    background-color: #FFFFFF;
    color: #0C2127;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
}  
.button3_3 button:hover{
    color: #363636;
    cursor: pointer;
}  
/* ================================================== */
.button4{
    width: 100px;
    height: 245px;
    text-align: center;
}   
.button4 button{
    width: 100%;
    height: 100%;
    background-color: #F96969;
    color: #E5F2F5;
    border-radius: 5px;
    font-size: 18px;
}  
.button4 button:hover{
    background-color: #ff8484;
    cursor: pointer;
}  
/* ================================================== */
.button5{
    width: 240px;
    height: 35px;
    text-align: center;
}   
.button5 button{
    width: 100%;
    height: 100%;
    background-color: #90C9E1;
    color: #E5F2F5;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}  
.button5 button:hover{
    background-color: #9cd7f0;
    cursor: pointer;
}  
/* ================================================== */
.button6{
    width: 100%;
    height: 60px;
    text-align: center;
}   
.button6 button{
    width: 480px;
    height: 100%;
    background-color: #90C9E1;
    color: #E5F2F5;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}  
.button6 button:hover{
    background-color: rgb(168, 217, 238);
    cursor: pointer;
}  
/* ================================================== */
.button7{
    width: 100px;
    text-align: center;
}   
.button7 button{
    width: 100%;
    height: 100%;
    background-color: #F96969;
    color: #E5F2F5;
    border-radius: 10px;
    font-size: 15px;
    padding:10px;
}  
.button7 button:hover{
    background-color: #ff8484;
    cursor: pointer;
}  
/* ================================================== */
.hyperLinkLayout1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ================================================== */
.hyperLink1 h3{
    font-size: 10px;
    color: #9EBAC2;
    font-weight: 400;
}
.hyperLink1 h3:hover{
    color: #bbd8e0;
}
/* ================================================== */
.navbar{
    width: auto;
    overflow: hidden;
    background-color: #C8EEFF;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.navbarContainer{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #F4F9FA;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    text-align: center;
    z-index: +1;
}
/* ================================================== */
.searchBar{
    min-width: 200px;
    width: 60%;
    height: 50px;
}
.searchBar input{
    width: 100%;
    height: 100%;
    background-color: #BBE2F3;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}
/* ================================================== */
.singleProject{
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #C8EEFF;
    border-radius: 10px;
}
.projectDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.projectDetails h3{
    color: #8E979A;
}
.projectDetails h4{
    color: #8E979A;
}
.projectDetails h5{
    color: #279D41;
}
.buttonColumn1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttonColumn2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttonLayout1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* ================================================== */
.singleProject{
    width: 100%;
    min-height: 200px;
    max-height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #C8EEFF;
    border-radius: 10px;
}
/* ================================================== */
.singleUser{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #C8EEFF;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    text-align: center;
}
.singleUser h4{
    color: #8E979A;
}
/* ================================================== */
.projectList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* ================================================== */
.userList{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #B0E7FF;
    border-radius: 10px;
    padding: 10px;
}
/* ================================================== */
.createProject{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* ================================================== */
.content{
    width: 100%;
    z-index: -1;
    /* margin: 0px 250px 0px 10px; */
}
/* ================================================== */
.home{
    width: 100%;
    height: 100vh;
    margin: 200px 10px 10px 10px; 
}
/* ================================================== */
.singleStage1{
    width: 15%;
    height: 100px;
    background-color: #E5F2F5;
    margin: 10px;
    padding: 20px;
    color: #8E979A;
    border-radius: 10px;
}
.singleStage1 h3{
    font-size: 20px;
}
.singleStage1 h4{
    font-size: 15px;
}
.singleStage1:hover{
    box-shadow: 0 0 25px #90C9E1, 0 0 5px #E5F2F5;
    cursor: pointer;
}
.singleStage2{
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0px 30px 30px 30px;
    background-color: #E5F2F5;
    color: #8E979A;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
.singleStage2 h3{
    font-size: 20px;
}
.singleStage2 h4{
    font-size: 15px;
}
.singleStage2:hover{
    box-shadow: 0 0 25px #90C9E1, 0 0 5px #E5F2F5;
    cursor: pointer;
}
/* ================================================== */
.stageForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.stageFormRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* ================================================== */
.viewProject{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.projectFormDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.projectCostList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}
.projectStageFormDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.projectDetails{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
}
.projectCostListWrapper{
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.projectFormDetailsWrapper{
    width: 69%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
/* ================================================== */
