.welcomePageLayout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.welcomeButton{
    width: 216px;
    height: 52px;
    background-color: #C8EEFF;
    font-size: 20px;
    color: #9EBAC2;
    border-radius: 10px;
}
.welcomeButton:hover{
    background-color: #9cddfb;
    color: #F4F9FA;
    cursor: pointer;
}
/* ================================================== */
.home{
    background-color: #3a3e3f;
}
/* ================================================== */
.registerAndLoginFromField{
    min-width: 400px;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #0C2127;
}
.registerAndLoginFromField label{
    width: 100%;
    font-size: 15px;
    background-color: #0C2127;
    text-align: center;
}
.registerAndLoginFromField input{
    width: 100%;
    border: none;
    padding: 5px 0px;
    font-size: 18px;
    background-color: #0C2127;
    border-bottom: 1px #fafafa solid;
}
/* .registerAndLoginFromField input:focus{
    border-bottom: solid rgb(0, 0, 0) 2px;
}
.registerAndLoginFromField span{
    text-align: center;
    width: 80%;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 15px;
    display: none;
}
.registerAndLoginFromField input:invalid[focused = "true"] ~ span{
    display: block;
} */
/* ================================================== */
.createNewProjectFormField{
    min-width: 400px;
    color: #9EBAC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #0C2127;
}
.createNewProjectFormField label{
    width: 100%;
    font-size: 19px;
    font-weight: bold;
    background-color: #0C2127;
    text-align: left;
    color: #fdfdfd;
}
.createNewProjectFormField input{
    width: 100%;
    border: none;
    padding: 5px 0px;
    font-size: 18px;
    background-color: #0C2127;
    border-bottom: 1px #ffffff solid;
}
/* .createNewProjectFormField input:focus{
    border-bottom: solid rgb(0, 0, 0) 2px;
}
.createNewProjectFormField span{
    text-align: center;
    width: 80%;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 15px;
    display: none;
}
.createNewProjectFormField input:invalid[focused = "true"] ~ span{
    display: block;
} */
 /* -------------------------------------------------------------- */
.addCostFormField{
    min-width: 400px;
    color: #9EBAC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #182c31;
}
.addCostFormField label{
    width: 100%;
    font-size: 19px;
    font-weight: bold;
    background-color: #182c31;
    text-align: left;
    color: #fdfdfd;
}
.addCostFormField input{
    width: 100%;
    border: none;
    padding: 5px 0px;
    font-size: 18px;
    background-color: #182c31;
    border-bottom: 1px #ffffff solid;
}
/* --------------------------------------------------------------- */
.viewCostFormField{
    min-width: 400px;
    color: #9EBAC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #182c31;
}
.viewCostFormField label{
    width: 100%;
    font-size: 19px;
    font-weight: bold;
    background-color: #182c31;
    text-align: left;
    color: #fdfdfd;
}
.viewCostFormField input{
    width: 100%;
    border: none;
    padding: 5px 0px;
    font-size: 18px;
    background-color: #182c31;
    border-bottom: 1px #ffffff solid;
}
/* --------------------------------------------------------------- */
.modifyCostFormField{
    min-width: 400px;
    color: #9EBAC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #182c31;
}
.modifyCostFormField label{
    width: 100%;
    font-size: 19px;
    font-weight: bold;
    background-color: #182c31;
    text-align: left;
    color: #fdfdfd;
}
.modifyCostFormField input{
    width: 100%;
    border: none;
    padding: 5px 0px;
    font-size: 18px;
    background-color: #182c31;
    border-bottom: 1px #ffffff solid;
}
/* ================================================== */
.addNewSingleStakeHolderFormFields{
    min-width: 400px;
    color: #9EBAC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #182c31;
}
.addNewSingleStakeHolderFormFields label{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    background-color: #182c31;
    text-align: left;
    color: #fbfbfb;
}
.addNewSingleStakeHolderFormFields input{
    width: 100%;
    border: none;
    padding: 5px 0px;
    font-size: 13px;
    background-color: #182c31;
    border-bottom: 1px #ffffff solid;
}
/* .addNewSingleStakeHolderFormFields input:focus{
    border-bottom: solid rgb(0, 0, 0) 2px;
}
.addNewSingleStakeHolderFormFields span{
    text-align: center;
    width: 80%;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 15px;
    display: none;
}
.addNewSingleStakeHolderFormFields input:invalid[focused = "true"] ~ span{
    display: block;
} */
/* ================================================== */
.registerLoginForm{
    min-width: 500px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0C2127;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
}
/* ================================================== */
.form2{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #C8EEFF;
    border-radius: 10px;
    padding: 10px;
}
/* ================================================== */
.createNewProjectForm{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #0C2127;
    border-radius: 10px;
    padding: 10px;
}
.addNewStakeHolderForm{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #1d3338;
    border-radius: 10px;
    padding: 10px;
}
.AddNewSingleStakeHolderForm{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    background-color: #182c31;
    border-radius: 10px;
    padding: 10px;
}
.AddNewSingleStakeHolderFieldListForm{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    background-color: #182c31;
    border-radius: 10px;
    padding: 10px;
}
/* ------------------------------------------------------- */
.addCostForm{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #182c31;
    border-radius: 10px;
    padding: 10px;
}
.addCostForm form{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: #182c31;
    border-radius: 10px;
    padding: 10px;
}
/* -------------------------------------------------------------- */
.viewCostForm{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #182c31;
    border-radius: 10px;
    padding: 10px;
}
.viewCostForm form{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: #182c31;
    border-radius: 10px;
    padding: 10px;
}
/* -------------------------------------------------------------- */
.modifyCostForm{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #182c31;
    border-radius: 10px;
    padding: 10px;
}
.modifyCostForms form{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: #182c31;
    border-radius: 10px;
    padding: 10px;
}
/* -------------------------------------------------------------- */
.confirmPopUpForm{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
}
/* ================================================== */
.form3{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #B0E7FF;
    border-radius: 10px;
    padding: 10px;
}
/* ================================================== */
.form4{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    background-color: #C8EEFF;
    border-radius: 10px;
    padding: 10px;
}
.form4 form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #C8EEFF;
    border-radius: 10px;
    padding: 10px;
}
/* ================================================== */
.form5{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    background-color: #C8EEFF;
    border-radius: 10px;
    padding: 10px;
}
/* ================================================== */
.registerHeading{
    text-align: center;
    color: #fafafa;
    font-size: 25px;
    font-weight: bold;
}
/* ================================================== */
.stakeholderHeading{
    text-align: left;
    color: #1c5b6e;
    font-size: 17px;
    font-weight: bold;
}
/* ================================================== */
.individualStakeHolderHeading{
    text-align: left;
    color: #8E979A;
    font-size: 16px;
    font-weight: bold;
}
/* ================================================== */
.button1{
    width: 100%;
    text-align: center;
}
.button1 button{
    width: 200px;
    background-color: #183037;
    color: #9EBAC2;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}    
.button1 button:hover{
    background-color: #14272d;
    color: #ffffff;
    cursor: pointer;
}    
/* ================================================== */
.button2{
    width: 100px;
    text-align: center;
}
.button2 button{
    width: 100px;
    height: 50px;
    background-color: #4e595d;
    color: #c6cbcc;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
}    
.button2 button:hover{
    background-color: #1c2b2f;
    color: #ffffff;
    cursor: pointer;
} 
/* ================================================== */
.filterButton{
    width: 100px;
    text-align: center;
}
.filterButton button{
    width: 100px;
    height: 50px;
    background-color: #245363;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
}    
.filterButton button:hover{
    background-color: #214550;
    color: #ffffff;
    cursor: pointer;
} 
/* ------------------------------------------------------ */
.filterApplyButton{
    width: 100px;
    text-align: center;
}
.filterApplyButton button{
    width: 100px;
    height: 50px;
    background-color: #2db431;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
}    
.filterApplyButton button:hover{
    background-color: #2aa52e;
    color: #ffffff;
    cursor: pointer;
} 
/* ================================================== */
.singleProjectViewButton{
    width: 120px;
    text-align: center;
}   
.singleProjectViewButton button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}  
.singleProjectViewButton.singleProjectViewFunctionButton button{
    background-color: #24353b;
    color: #b5c7c7;
}  
.singleProjectViewButton.singleProjectViewFunctionButton button:hover{
    background-color: #3a484c;
}  
.singleProjectViewButton.singleProjectViewSelectButton button{
    background-color: #3e616d;
    color: #E5F2F5;
}  
.singleProjectViewButton.singleProjectViewSelectButton button:hover{
    background-color: rgb(73, 112, 127);
}  
.singleProjectViewButton.singleProjectViewRemoveButton button{
    background-color: #fc4a4a;
    color: #E5F2F5;
}  
.singleProjectViewButton.singleProjectViewRemoveButton button:hover{
    background-color: #ff6969;
}  
/* ================================================== */
.button4{
    width: 100px;
    height: 245px;
    text-align: center;
}   
.button4 button{
    width: 100%;
    height: 100%;
    background-color: #F96969;
    color: #E5F2F5;
    border-radius: 5px;
    font-size: 18px;
}  
.button4 button:hover{
    background-color: #ff8484;
    cursor: pointer;
}  
/* ================================================== */
.addNewStakeHolderButton{
    width: 240px;
    height: 35px;
    text-align: center;
}   
.addNewStakeHolderButton button{
    width: 100%;
    height: 100%;
    background-color: #152b31;
    color: #E5F2F5;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}  
.addNewStakeHolderButton button:hover{
    background-color: #12242a;
    cursor: pointer;
}  
/* ================================================== */
.createProjectButton{
    width: 100%;
    height: 60px;
    text-align: center;
}   
.createProjectButton button{
    width: 480px;
    height: 100%;
    background-color: #152b31;
    color: #E5F2F5;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}  
.createProjectButton button:hover{
    background-color: #12242a;
    cursor: pointer;
}  
/* ================================================== */
.singleUserRemoveButton{
    width: 100px;
    text-align: center;
}   
.singleUserRemoveButton button{
    width: 100%;
    height: 100%;
    background-color: #f54545;
    color: #E5F2F5;
    border-radius: 10px;
    font-size: 15px;
    padding:10px;
}  
.singleUserRemoveButton button:hover{
    background-color: #ed5a5a;
    cursor: pointer;
}  
/* ================================================== */
.singleUserTransferButton{
    width: 100px;
    text-align: center;
}   
.singleUserTransferButton button{
    width: 100%;
    height: 100%;
    background-color: #2bef63;
    color: #E5F2F5;
    border-radius: 10px;
    font-size: 15px;
    padding:10px;
}  
.singleUserTransferButton button:hover{
    background-color: rgb(103, 247, 144);
    cursor: pointer;
}  
/* ================================================== */
.singleUserViewButton{
    width: 100px;
    text-align: center;
}   
.singleUserViewButton button{
    width: 100%;
    height: 100%;
    background-color: #c2c2c2;
    color: #E5F2F5;
    border-radius: 10px;
    font-size: 15px;
    padding:10px;
}  
.singleUserViewButton button:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}  
/* ================================================== */
.hyperLinkLayout1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ================================================== */
.hyperLink1 h3{
    font-size: 10px;
    color: #9EBAC2;
    font-weight: 400;
}
.hyperLink1 h3:hover{
    color: #bbd8e0;
}
/* ================================================== */
.navbar{
    width: auto;
    overflow: hidden;
    background-color: #0C2127;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.navbarContainer{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #3a3e3f;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    text-align: center;
    z-index: +1;
}
/* ================================================== */
.navBarSearchBar{
    min-width: 200px;
    width: 60%;
    height: 50px;
}
.navBarSearchBar input{
    width: 100%;
    height: 100%;
    background-color: #232f35;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}
/* ================================================== */
.filterBar{
    width: auto;
    overflow: hidden;
    background-color: #0C2127;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.filterBarContainer{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #3a3e3f;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    text-align: center;
}
.filterResultContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
    background-color: #11333d;
}
.filterResult{
    width: 24%;
    font-size: 17px;
    border-radius: 10px;
    padding: 3px;
    background-color: #476771;
    color: #ffff;
}
/* ================================================== */
.singleProject{
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #12262c;
    border-radius: 10px;
}
.projectDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.projectDetails h3{
    color: #c6cccf;
    font-size: 25px;
}
.projectDetails h4{
    color: #b1b6b8;
}
.projectDetails h5{
    color: #25c047;
}
.buttonColumn1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttonColumn2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttonLayout1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* ================================================== */
.singleUser{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #183037;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    text-align: center;
}
.singleUser h4{
    color: #8E979A;
}
/* ================================================== */
.projectList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* ================================================== */
.userList{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #0C2127;
    border-radius: 10px;
    padding: 10px;
}
/* ================================================== */
.createProject{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* ================================================== */
.content{
    width: 100%;
    z-index: -1;
    background-color: #3a3e3f;
    /* margin: 0px 250px 0px 10px; */
}
/* ================================================== */
.home{
    width: 100%;
    height: 100vh;
    margin: 200px 10px 10px 10px; 
}
/* ================================================== */
.singleStage1{
    width: 15%;
    height: 100px;
    background-color: #232f35;
    margin: 10px;
    padding: 20px;
    color: #dfe3e4;
    border-radius: 10px;
}
.singleStage1 h3{
    font-size: 20px;
}
.singleStage1 h4{
    font-size: 15px;
}
.singleStage1:hover{
    background-color: #202a30;
    cursor: pointer;
}
.singleStage2{
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0px 30px 30px 30px;
    background-color: #E5F2F5;
    color: #8E979A;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
.singleStage2 h3{
    font-size: 20px;
}
.singleStage2 h4{
    font-size: 15px;
}
.singleStage2:hover{
    box-shadow: 0 0 25px #90C9E1, 0 0 5px #E5F2F5;
    cursor: pointer;
}
/* ================================================== */
.stageForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #171f24;
}
.stageFormRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.stageFormRow.stageFormButtonLayout{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: left;
}
/* ================================================== */
.viewProject{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projectFormDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.projectCostList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}
.projectStageFormDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#B0E7FF;
    border-radius: 20px;
}
.projectInformation{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.projectCostListWrapper{
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.projectFormDetailsWrapper{
    width: 69%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
/* ================================================== */
.popUpTitle{
    height: 40px;
    padding: 2px 10px 2px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #1a2d32;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
}
/* ================================================== */
.popUpDisplayArea{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #203d45;
    position: absolute;
    top: 45px;
}
/* ------------------------------------------------------- */
.commentListWrapper{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.commentList{
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* ------------------------------------------------------------ */
.addCostFormWrapper{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.addCostForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* ------------------------------------------------------------ */
.viewCostFormWrapper{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
}
.viewCostForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* ------------------------------------------------------------ */
.confirmPopUpWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.confirmPopUp{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* ================================================== */
.singlePopUpComment{
    width: 100%;
    background-color: #0C2127;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
.commentDescription{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
}
.commentProfilePicture{
    font-size: 25px;
}
.addCommentUserName{
    font-size: 20px;
}
.addCommentComment{
    font-size: 15px;
}
.commentDetails{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.commentTime{
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: absolute;
    bottom: 10px;
    right: 0;
}
/* ================================================== */
.addCommentInputArea{
    width: 99.5%;
    height: 50px;
    padding: 10px;
    position: absolute;
    bottom: 5px;
    left: 2px;
    right: 2px;
    border-radius: 10px;
    background-color: #35484e;
}
.addCommentInputArea input{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 30px;
    color: #ffffff;
    background-color: #35484e;
}
/* ================================================== */
.popUpLayout{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}
.popUpLayoutLargeInner{
    width: 100%;
    max-width: 800px;
    height: 560px;
    position: relative;
    background-color: #203d45;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}
.popUpLayoutMediumInner{
    width: 100%;
    max-width: 800px;
    height: 460px;
    position: relative;
    background-color: #203d45;
    border: 1px solid black;
    border-radius: 10px;
}
.popUpLayoutSmallInner{
    width: 100%;
    max-width: 800px;
    height: 200px;
    position: relative;
    background-color: #203d45;
    border: 1px solid black;
    border-radius: 10px;
}
/* ================================================== */
.popUpCloseButton{
    text-align: center;
    align-items: center;
}
.popUpCloseButton button{
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    background: #F96969;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.popUpCloseButton :hover{
    background: #f78282;
}
/* ================================================== */
.createProjectLayout{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* ================================================== */
